.button{
    background-color: transparent;
    border-radius: 200px;
    border: solid 4px black;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 32px;
    cursor: pointer;
    margin: 15px 15px 15px 0px;
}

.button:hover{
    background-color: black;
    color: white;
}