
.category-card{
    --border-radius: 1rem;
    position: relative;
    border: 5px solid black;
    padding: 1rem;
    /* margin: 2rem; */
    width: max(15rem, 13vw);
    border-radius: var(--border-radius);
}

.category-card > img{
    width: 100%;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.category-card > h3{
    /* border: solid 3px red; */
    position: absolute;
    width: 100%;
    top: 1rem;
    margin: 0;
    left: 2rem;
    font-size: min(3vw, 5rem);
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.category-card > h2{
    /* border: solid 3px hotpink; */
    bottom: 2rem;
    left: 2rem;
    font-size: min(2vw, 3rem);
    text-align: center;
    margin: 1rem 0;
}

.category-card:hover{
    background-color: black;
    color: white;
}


