.product-card{
    --border-radius: 1rem;
    border: solid black;
    border-width: clamp(2px, 0.4vw, 5px);
    padding: 0.6vw;
    width: clamp(10rem, 20vw, 25rem);
    border-radius: var(--border-radius);
    background-color: transparent;

    /* display: flex; */
    /* flex-direction: column; */

    /* justify-content: space-between; */
}

.product-card > img{
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width: 100%;
}

.product-card > p{
    margin: 0.5rem 0;
    /* border: solid 3px cyan; */
}

.product-prize{
    float: right;
}

.product-card-line-one{
    font-size: 2.2rem;
    font-weight: bold;
}

.product-card-line-two, .product-card-rating{
    font-size: 1.7rem;
}

.product-card > button{
    width: max-content;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 1rem 2rem;
    background-color: white;
    border: 3px solid black;
    font-weight: bold;
    /* margin: auto; */

    /* align-self:baseline; */
}

/* .product-card-line-two{ */
    /* border: 2px red solid; */
    /* min-height: 3.3vw; */
    /* line-height: 1.8rem; */
/* } */

.product-card:hover{
    background-color: black;
    color: white;
    box-shadow: -8px 8px red;
    transform: translate(8px, -8px);
}

.product-card > button:hover{
    background-color: red;
    color: white;
}

@media (max-width: 1000px) {
    .product-card-line-one{
        font-size: 1.7rem;
    }

    .product-card-line-two, .product-card-rating{
        font-size: 1.4rem;
    }

    .product-card > button{
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {
    .product-card-line-one{
        font-size: 1.35rem;
    }

    .product-card-line-two, .product-card-rating{
        font-size: 1.2rem;
    }

    .product-card > button{
        font-size: 1rem;
    }
}
