.navbar{
    display: flex;
    overflow:auto;
    padding: 5px 40px;
    align-items: center;
    justify-content: space-between;
}

.navbar-title{
    color: rgb(41, 41, 41);
    font-size: 45px;
    padding: 5px;
}

.navbar-title:hover{
    -webkit-text-stroke: 1px black;
}

.navbar-options{
    /* background-color: yellow; */
    padding: 5px;
    margin: 10px;
    font-size: 26px;
}

.navbar-options:hover{
    -webkit-text-stroke: 1px black;
}

.navbar-search{
    /* background-color: red; */
    margin-right: 7px;
    width: 30rem;
    padding: 10px 7px;
    border-radius: 25px;
    border: 0px;
    outline: none;
    box-shadow: 8px 8px 0px 0px black;
    text-indent: 20px;
    font-size: 22px;
}

.navbar-search:placeholder-shown{
    box-shadow: 8px 8px 0px 0px grey;
}

.navbar-search:hover{
    box-shadow: 8px 8px 4px 0px;
}








