
/* functionality */
nav{
    display: flex;
    align-items: center;
    /* border: solid 3px red; */
}

.navbar-buttons{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    gap: 1rem;
    flex-grow: 1;
    align-items: center;
    /* border: solid 3px red; */
}

.navbar-buttons > li{
    flex-grow: 1;
    flex-basis: 1;
    /* border: solid 3px rebeccapurple; */
}

.navbar-buttons > li > input, button{
    width: 100%;
}

.search{
    flex-grow: 3;
    /* background-color: red; */
}


/* styling */

nav{
    padding: 2rem;
}

.company-title{
    font-size: 3.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-weight: bold;
}

.navbar-buttons > li > button{
    padding: 0;
    margin: 0;
    outline: transparent;
    border: transparent;
    background-color: transparent;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 2em;
    /* font-weight: bold; */
}

.navbar-buttons > li > button:hover{
    background-color: black;
    color: white;
}

.navbar-buttons > li > input {
    outline: transparent;
    border: transparent;
    min-width: 10ch;
    padding: 0.5rem 0;
    margin: 0;
    text-indent: 2rem;
    border-radius: 3em;
    border: 2.5px solid black;
    box-shadow: 4px 4px black;
    font-size: 2rem;
}


@media(max-width: 1000px){
    nav{
        flex-direction: column;
    }
}

@media(max-width: 800px){
    .navbar-buttons{
        flex-direction: column;
    }
}
